! ------------------------------------------------------------------------------
!                      ROFI Settings
! ------------------------------------------------------------------------------
! General
rofi.font:                Source Code Pro 10
rofi.fake-transparency:   true
rofi.hide-scrollbar:      true
rofi.bw: 2

! Layout
rofi.width:              30
rofi.column:             4
rofi.location:           0
rofi.lines:              1
rofi.padding:            10
rofi.sidebar-mode:       false
rofi.fullscreen:         false

! ------------------------------------------------------------------------------
! ROFI Color theme
! Copyright: Edgar Talledos
! ------------------------------------------------------------------------------
rofi.color-normal:                   argb:0000000, #c6c6c6, argb:00000000, #c6c6c6, #282A36
rofi.color-urgent:                   argb:0000000, #ff81ff, argb:00000000, #ff817f, #282A36
rofi.color-active:                   argb:0000000, #8ac4ff, argb:00000000, #8ac4ff, #282A36
rofi.color-window:                   #282A36, #c6c6c6
rofi.separator-style:                none
