<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<separator label="-verbena-"/>
		<item label="Firefox">
			<action name="Execute">
				<execute>firefox </execute>
			</action>
		</item>
		<item label="Terminator">
			<action name="Execute">
				<execute>x-terminal-emulator</execute>
			</action>
		</item>
		<item label="SpaceFM">
			<action name="Execute">
				<execute>spacefm</execute>
			</action>
		</item>
		<!-- This requires the presence of the 'menu' package to work -->
		<item label="Atom">
			<action name="Execute">
				<execute>atom</execute>
			</action>
		</item>
		<item label="DeaDBeeF">
			<action name="Execute">
				<execute>/opt/deadbeef/bin/deadbeef</execute>
			</action>
		</item>
		<item label="Pale Moon">
			<action name="Execute">
				<execute>palemoon</execute>
			</action>
		</item>
		<separator/>
		<menu id="/Debian"/>
		<item label="KeePassXC">
			<action name="Execute">
				<execute>keepassxc</execute>
			</action>
		</item>
		<item label="GIMP">
			<action name="Execute">
				<execute>gimp</execute>
			</action>
		</item>
		<item label="Inkscape">
			<action name="Execute">
				<execute>inkscape</execute>
			</action>
		</item>
		<separator/>
		<menu id="root-menu-444311" label=" Openbox">
			<item label="Obmenu">
				<action name="Execute">
					<execute>obmenu</execute>
				</action>
			</item>
			<item label="Obconf">
				<action name="Execute">
					<execute>obconf</execute>
				</action>
			</item>
			<item label="Obkey">
				<action name="Execute">
					<execute>/home/verbena/.local/share/obkey/obkey</execute>
				</action>
			</item>
			<item label="OpenBox config">
				<action name="Execute">
					<execute>atom~/.config/openbox/rc.xml</execute>
				</action>
			</item>
			<item label="Polybar config">
				<action name="Execute">
					<execute>atom ~/.config/polybar</execute>
				</action>
			</item>
			<item label="Tint2 config">
				<action name="Execute">
					<execute>atom ~/.config/tint2/tint2rc</execute>
				</action>
			</item>
			<item label="Panel Manager">
				<action name="Execute">
					<execute>tint2conf &amp;</execute>
				</action>
			</item>
			<item label="Reconfigure">
				<action name="Reconfigure"/>
			</item>
			<item label="Restart">
				<action name="Restart"/>
			</item>
		</menu>
		<separator/>
		<menu id="root-menu-851356" label="System">
			<item label="EtherApe (root)">
				<action name="Execute">
					<execute>su-to-root -X -c /usr/bin/etherape</execute>
				</action>
			</item>
			<item label="Disk Management">
				<action name="Execute">
					<execute>usermount</execute>
				</action>
			</item>
			<item label="Hard Info">
				<action name="Execute">
					<execute>hardinfo</execute>
				</action>
			</item>
			<item label="Ksysguard">
				<action name="Execute">
					<execute>ksysguard</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<item label="Run..">
			<action name="Execute">
				<execute>gmrun</execute>
			</action>
		</item>
		<separator/>
		<item label="x-kill">
			<action name="Execute">
				<execute>xkill</execute>
			</action>
		</item>
		<separator/>
		<menu id="client-list-menu"/>
		<separator/>
		<item label="Exit">
			<action name="Execute">
				<execute>/home/verbena/scripts/exit.sh</execute>
			</action>
		</item>
		<item label="Log Out">
			<action name="Exit"/>
		</item>
	</menu>
</openbox_menu>
